{% extends "_base.html" %}

{% block head_content %}

  <title>7 Little Words 5</title>

  <script>
    const answers = [
        'TRUNK',
        'SUNSHINE',
        'DUSK',
        'GRASS',
        'BUSH', 
        'SERENE', 
        'TWIG', 
    ];
    function revealAnswer(questionNumber){
        var questionID = "q".concat(questionNumber);

        // grey out the parts of the table with the answer
        const collection = document.getElementsByClassName(questionID);
        for (let i = 0; i < collection.length; i++) {
          collection[i].style.backgroundColor = "grey";
        }

        // display the answer next to the question
        answerElement = document.getElementById(questionID);
        answerElement.innerHTML = answers[questionNumber-1];
        answerElement.style.cssText = "text-decoration: underline;";
    }
    function fillLetters(){
        for(let i=0;i<answers.length;i++){
            var lettersID = "letters".concat(i+1);
            lettersElemente = document.getElementById(lettersID);
            lettersElemente.innerHTML = answers[i].length;
        }
    }
  </script>
<style type="text/css">

  .tg  {
      margin: auto; /* or margin: 0 auto 0 auto */
      border-spacing:0;
      width: 100%;
      border: solid black 1px;
      border-radius: 4px;
      vertical-align:middle;
  }
  .tg td{
      border: black solid 0.5px;
      font-family:Arial, sans-serif;
      font-size:14px;
      padding:10px 5px;
  }

  .tg .tg-0lax{
      text-align:center;
      vertical-align:middle;
      background-color:#3865e0;
      color:#FFFFFF;
    
  }


    body {
      font-family: Arial;
      padding: 10px;
      background: #f1f1f1;
    }

    h1 {
      font-family: Arial;
      text-align:center;
      padding: 10px;
    }

    /* Add a card effect for articles */
    .card {
      background-color: white;
      overflow: auto;
    }
    .row {
      width:100%;
      float:left;
    }
    .left {
      padding: 20px;
      margin: auto;
      float: left;
      width: 30%;
    }
    .right {
      padding: 20px;
      margin: auto;
      float: left;
      width: 50%;
    }
    @media screen and (max-width: 800px) {
      .left, .main, .right {
        width: 90%;
      }

    }
    .tag {
      color:grey;
      font-style:italic;
      font-size: 10px;

      display:block;
      margin-right: 10px;
      text-align: right;
    }

    .answer {
      font-weight: bold;
    }
  </style>
{% endblock head_content %}

{% block content %}

  <div class="card">
    <h1>7 Little Words #5</h1>
    <div class="row">
      <div class="left">
        <table class="tg">
          <tbody>
            <tr>
              <td class="tg-0lax q7">IG</td>
              <td class="tg-0lax q1">UNK</td>
              <td class="tg-0lax q2">NSH</td>
              <td class="tg-0lax q5">BU</td>
            </tr>
            <tr>
              <td class="tg-0lax q6">NE</td>
              <td class="tg-0lax q3">SK</td>
              <td class="tg-0lax q4">SS</td>
              <td class="tg-0lax q1">TR</td>
            </tr>
            <tr>
              <td class="tg-0lax q5">SH</td>
              <td class="tg-0lax q6">SE</td>
              <td class="tg-0lax q2">SU</td>
              <td class="tg-0lax q3">DU</td>
            </tr>
            <tr>
              <td class="tg-0lax q4">GRA</td>
              <td class="tg-0lax q2">INE</td>
              <td class="tg-0lax q7">TW</td>
              <td class="tg-0lax q6">RE</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="right">
        <ol>
          <li><button onclick="revealAnswer(1)"> Answer</button> 
              The thick part at the bottom of a tree (<span id="letters1"></span> letters) <span class="answer" id="q1">__________</span></li>
          <li><button onclick="revealAnswer(2)"> Answer</button> 
              The light of the sun, usually without any clouds (<span id="letters2"></span> letters) <span class="answer" id="q2">__________</span></li>
          <li><button onclick="revealAnswer(3)"> Answer</button> 
              When the sun has set, but you can still see some of the light in the sky (<span id="letters3"></span> letters) <span class="answer" id="q3">__________</span></li>
          <li><button onclick="revealAnswer(4)"> Answer</button> 
              A small plant that cover yards, soccer fields, and countrysides (<span id="letters4"></span> letters) <span class="answer" id="q4">__________</span></li>
          <li><button onclick="revealAnswer(5)"> Answer</button> 
              Like a tree but smaller and sometimes wider. They somtimes have flowers (<span id="letters5"></span> letters) <span class="answer" id="q5">__________</span></li>
          <li><button onclick="revealAnswer(6)"> Answer</button> 
              Calm, peaceful, tranquil, without trouble (<span id="letters6"></span> letters) <span class="answer" id="q6">__________</span></li>
          <li><button onclick="revealAnswer(7)"> Answer</button> 
              A small branch or piece of wood (<span id="letters7"></span> letters) <span class="answer" id="q7">__________</span></li>
        </ol>
      </div>
    </div>
    <p class="tag">7 Little Words for ESL Use: Exercise 5</p>
    <p class="tag">Author: Tony Terrasa</p>
    <script>
        fillLetters(); 
    </script>
  </div>


{% endblock content %}

