{% extends "_base.html" %}

{% block content %}
<div class="row">
    <div class="onecolumn">
        <div class="card">
            <div class="row">
                <div class="leftcolumn">
                    <h2>Spelling Bee</h2>
                    <p>A word game where you have to find as many words as you can given a set of letters. Based off of the NYT Spelling Bee. Good for warm-ups.</p>
                </div>
                <div class="rightcolumn">
                    <img src='media/spelling-bee-1.png' alt="Spelling Bee Sample" width=100%>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}
