{% extends "_base.html" %}

{% block content %}
<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>Irregular Verb Reviews</h2>
            <p> Below you'll find links to verb review presentations you can use with your class or by yourself to practice irregular verbs.  </p>
            <p><a href="./my-reveal.js-presentations/presentations/irregular-verbs-10.html">Irregular Verb Review 10</a></p>
            <p><a href="./my-reveal.js-presentations/presentations/irregular-verbs-11.html">Irregular Verb Review 11</a></p>
            <p><a href="./my-reveal.js-presentations/presentations/irregular-verbs-12.html">Irregular Verb Review 12</a></p>
            <p><a href="./my-reveal.js-presentations/presentations/irregular-verbs-13.html">Irregular Verb Review 13</a></p>
            <p><a href="./my-reveal.js-presentations/presentations/irregular-verbs-14.html">Irregular Verb Review 14</a></p>
            <p><a href="./my-reveal.js-presentations/presentations/irregular-verbs-15.html">Irregular Verb Review 15</a></p>
            <p><a href="./my-reveal.js-presentations/presentations/irregular-verbs-16.html">Irregular Verb Review 16</a></p>
            <p><a href="./my-reveal.js-presentations/presentations/irregular-verbs-17.html">Irregular Verb Review 17</a></p>
            <p><a href="./my-reveal.js-presentations/presentations/irregular-verbs-18.html">Irregular Verb Review 18</a></p>
        </div>
    </div>
</div>

{% endblock content %}
