{% extends "_base.html" %}

{% block head_content %}
  <title>Spelling Bee 4</title>
{% endblock head_content %}

{% block content %}
<div class="row">
    <div class="onecolumn">
        <div class="card">
            <h2>Spelling Bee</h2>
            <p>Below are some NYT Spelling Bee inspired games for you to use as a warm up or a cooldown.</p>
            <img src='media/spelling-bee-4.png' alt="Spelling Bee Instructions" width=100%>

        </div>
    </div>
</div>

{% endblock content %}
